* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

@mixin header_span {

  width: 10px;
  height: 5px;
  display: inline-block;
  //border: 2px solid red;
  background: url(img/header2.png) 0 -704px;
}

@mixin header_span2 {
  width: 25px;
  height: 25px;
  display: inline-block;
  //background: url("img/header2.png") 0 -480px;
}

header {
  width: 100%;
  .header_nav {
    width: 100%;
    height: 43px;
    margin: 0 auto;
    background-color: #333333;
    .header_nav_fl {
      float: left;
      display: flex;
      a {
        color: white;
        font-size: 12px;
        line-height: 43px
      }
      #header_nav_fl_rg {
        padding: 0 6px 0 40px;
      }
      #header_nav_fl_lf {
        padding: 0 23px 0 10px;
        .header_span {
          @include header_span
        }
      }
    }
    .header_nav_fr {
      //width: 68px;
      height: 43px;
      //margin: 0 0px 0 0;
      text-align: center;
      float: right;
      display: flex;
      #header_nav_fr_r1 {
        padding-right: 40px;
        a {
          width: 28px;
          display: block;
          margin: 0 auto;
          padding: 12px;
        }
      }
      #header_nav_fr_r2 {
        display: flex;
        #land {
          font-size: 12px;
          width: 70px;
          height: 49px;
          background: #d60000;
          color: white;
          line-height: 43px;
        }
        #land:hover {
          background: red;
        }
        #email {
          width: 105px;
          height: 43px;
          font-size: 12px;
          color: white;
          line-height: 43px;
          padding: 0 23px 0 10px;
          a {
            color: white;
            line-height: 43px;
            font-size: 12px;
          }
          .header_span {
            @include header_span
          }
        }
        #email:hover {
          background: #1e1e1e;
        }
      }
      ul {
        display: flex;
        li {
          color: white;
          font-size: 12px;
          padding: 0 24px 0 13px;
          border-left: 1px solid #4d4d4d;
          a {
            color: white;
            line-height: 43px;
          }
          .header_span2 {
            margin-top: 7px;
            float: left;
          }
          .header_span {
            @include header_span;
            margin-top: 21px;
          }
        }
        li:not(:nth-child(1)), li:not(:nth-child(2)) {
          padding: 0 10px 0 10px;
        }
        li:nth-child(3) > .header_span2 {
          @include header_span2;
          background: url("img/header2.png") 0 -476px;
        }
        li:nth-child(4) > .header_span2 {
          @include header_span2;
          background: url("img/header2.png") 0 -664px;
        }
        li:nth-child(5) > .header_span2 {
          @include header_span2;
          background: url("img/header2.png") 0 -23px;
        }
        li:nth-child(6) > .header_span2 {
          @include header_span2;
          background: url("img/header2.png") 0 -45px;
        }
        li:nth-child(7) > .header_span2 {
          @include header_span2;
          background: url("img/header2.png") 0 -502px;
        }
        li:nth-child(8) > .header_span2 {
          @include header_span2;
          background: url("img/header2.png") 0 -90px;
        }
        li:nth-child(9) > .header_span2 {
          @include header_span2;
          background: url("img/header2.png") 0 -542px;
        }
        li:hover {
          background: #1e1e1e;
        }
      }

    }

  }
}

section {
  width: 960px;
  //height: 500px;
  //background: blueviolet;
  margin: 0 auto;
  overflow: hidden;
  .logo {
    padding-top: 35px;
    background: white;
    border-bottom: 2px solid red;
    padding-bottom: 10px;
    #logo1 {
      display: inline-block;
      width: 125px;
      height: 40px;
      background: url("img/logo.png") 0 0;
    }
    #logo_advertisement {
      float: right;
    }
  }

  .nav {
    width: 960px;
    margin: 30px auto 30px;
    ul {
      display: flex;
      .nav1 {
        font-size: 11px;
        flex-grow: 1;
        border-left: 1px solid #333333;
        ul {
          display: flex;
          padding-bottom: 11px;
          li {
            padding-right: 8px;
            font-size: 12px;
            line-height: 16px;
          &>:hover{
            color: red;
          }
          }

        }
        ul:last-child {
          padding-bottom: 0px;
        }
      }
      .nav1:first-child {
        border: 0px;
      }
      .nav1:not(:first-child) {
        padding-left: 12px;
      }
    }
  }

  .body_left {
    width: 630px;
    //height: 500px;
    float: left;
    .banner {
      width: 632px;
      height: 212px;
      .banner_img {
        ul {
          display: flex;
          li {
            display: flex;
            .b_i_l {
              width: 354px;
              height: 175px;
              margin-right: 3px;
              background: red;
              position: relative;
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
              }
              div {
                color: #ffffff;
                font-size: 15px;
                line-height: 2;
                padding-left: 10px;
                margin-top: -34px;
                width: 100%;
                background-image: linear-gradient(transparent, #000);
                position: absolute;
              }
            }
            .b_i_r {
              width: 275px;
              height: 175px;
              .b_row {
                display: flex;
                height: 86px;
                div {
                  width: 137px;
                  height: 87px;
                  flex-grow: 1;
                  margin-right: 3px;
                  //background: blue;
                  overflow: hidden;
                  position: relative;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                  div {
                    height: 50px;
                    overflow: hidden;
                    color: #ffffff;
                    font-size: 9px;
                    line-height: 2;
                    padding-left: 10px;
                    margin-top: -27px;
                    width: 100%;
                    background-image: linear-gradient(transparent, #000);
                    position: absolute;
                  }
                }
                div:last-child {
                  margin-right: 0px;
                }
              }
              .b_row:first-child {
                margin-bottom: 3px;
              }
            }
          }
        }
      }
      .banner_img_index {
        height: 6px;
        padding-top: 6px;
        ul {
          display: flex;
          margin: 0 auto;
          width: 50px;
          li {
            height: 6px;
            width: 6px;
            background: #8F8F8F;
            border-radius: 50%;
            margin-right: 6px;
          }
        }
      }
    }
    .journalism {

      .journalism_left {
        float: left;
        width: 200px;
        .journalism_header {
          border-top: 1px solid #cccccc;
          span {
            background: url("img/left.png") no-repeat;
            font-size: 18px;
            padding: 0 6px 0 40px;
            line-height: 2;
            display: inline-block;
            border-top: 4px solid red;
            margin-top: -2px;
          }
        }
        .journalism_header:not(:first-child) {
          margin-top: 20px;
        }
        .journalism_header:first-child span {
          background-position: 15px -867px;
        }
        ul {
          li {
            padding-bottom: 10px;
            border-bottom: 1px solid #cccccc;
            .journalism_body {
              width: 171px;
              padding-left: 12px;
              line-height: 22px;
              font-size: 14px;
              border-bottom: 1px solid #eeeeee;
              h3 {
                text-align: center;
                padding: 15px 0;
              }
            }
            .journalism_body2 {
              div {
                border: 1px solid #cccccc;
                padding-bottom: 10px;
                p {
                  padding: 0px 10px;
                  font-size: 14px;
                  font-weight: bolder;
                }
              }
            }
            .journalism_body:hover h3{
              color: red;
            }
            .journalism_body:last-child {
              border: 0px;
              //background: red;
            }
            span {
              font-size: 12px;
              border-right: 1px solid #cccccc;
              padding-right: 10px;
              margin-right: 4px;
              color: #888888;
            }
            a {
              font-size: 12px;
            }
          }
          li:first-child {
            border-bottom: 0px;
          }
        }
      }
      .journalism_right {
        width: 400px;
        float: right;
        padding-left: 30px;
        .journalism_header {
          border-top: 1px solid #cccccc;
          span {
            //background: url("img/left.png") no-repeat;
            font-size: 18px;
            //padding: 0 6px 0 40px;
            line-height: 2;
            display: inline-block;
            width: 100px;
            text-align: center;
            border-top: 4px solid red;
            margin-top: -2px;
          }
          span:not(:first-child) {
            border-top: 0px;
          }
        }
        .journalism_header:not(:first-child) {
          margin-top: 20px;
        }
        ul {
          margin-top: 15px;
          list-style-type: disc;
          padding-left: 25px;
          li {
            color: #cccccc;
            list-style: disc;
            list-style-position: outside;
            a {
              font-size: 16px;
              line-height: 2;
              color: #404040;
            }
          }
          li:first-child {
            //background: red;
            a {
              font-weight: 800;
              color: black;
            }
          }
        }
      }
      .body_advertisement {
        margin-bottom: 20px;
        img {
          margin-top: 20px;
        }
      }

      .sport {
        width: 630px;
        border-top: 1px solid #cccccc;
        .sport_head {
          span:nth-child(1) {
            font-size: 24px;
            font-weight: bolder;
            line-height: 35px;
            padding: 0 11px 0 44px;
            border-top: 3px solid red;
            margin-top: -2px;
            background: url(img/left.png) no-repeat 14px -1000px
          }
          span:nth-child(2), span:nth-child(3) {
            font-size: 16px;
            line-height: 35px;
            padding: 0 20px;
          }
          span:nth-child(4) {
            float: right;
            font-size: 12px;
            color: #888888;
            line-height: 35px;

          }
        }
        .sport_body {
          overflow: hidden;
          .sport_body_left {
            float: left;
            width: 200px;
            padding-top: 20px;
            div {
              font-size: 12px;
              margin-bottom: 20px;
            }
          }
          .sport_body_right {
            float: left;
            width: 430px;
            padding-top: 20px;
            ul {
              margin-left: 40px;
              margin-bottom: 20px;
              li {
                list-style: disc;
                list-style-position: outside;
                color: #cccccc;
                font-size: 15px;
                line-height: 2.5;
                a {
                  color: #333333;
                }
              }
              li:first-child {
                font-weight: bolder;
              }
            }
          }
        }
      }
    }
  }
  .body_right {
    width: 300px;
    //height: 500px;
    float: right;
    .body_right_1 {
      margin-bottom: 20px;
      border: 1px solid #cccccc;
      .body_right_header {
        display: flex;
        height: 40px;
        span {
          flex-grow: 1;
          display: inline-block;
          height: 40px;
          line-height: 40px;
          text-align: center;
          //background: red;
          //border: 1px solid white;
        }
        .b_r_h_active {
          border-top: 3px solid red;
          font-size: 16px;
          color: red;
          font-weight: 700;
        }
        .b_r_h_active2 {
          font-size: 16px;
          color: #404040;
          border-left: 1px solid #cccccc;
          border-bottom: 1px solid #cccccc;
          background: #f8f8f8;
        }
        .b_r_h_default {
          text-align: right;
          border-left: 1px solid #cccccc;
          border-bottom: 1px solid #cccccc;
          padding: 0 15px 0 10px;
          background: #f8f8f8;
          a {
            font-size: 12px;
            color: #888888;
            line-height: 40px;
            padding-right: 5px;
          }
          span {
            display: inline-block;
            width: 15px;
            height: 15px;
            float: right;
            margin-top: 14px;
            background: url("img/header2.png") 0 -689px no-repeat;
          }
        }
      }
      ul {
        padding: 15px;
        font-size: 14px;
        //margin-bottom: 20px;
        .body_right_li {
          display: flex;
          padding-top: 15px;
          padding-bottom: 18px;
          border-bottom: 1px solid #cccccc;
          .b_r_body_img {
            width: 40px;
            height: 40px;
            background: url("img/logo.png") no-repeat;
          }
          .b_r_body_title {
            height: 40px;
            font-size: 12px;
            padding-left: 12px;
            //padding-top: 12px;
            p {
              line-height: 1.5;
            }
            span {
              padding-right: 5px;
            }
            p:hover,span:hover{
              color: red;
            }
          }
        }
        li:nth-child(1) {
          padding-top: 0px;
        }
        li:nth-child(1) .b_r_body_img {
          background-position: -161px 0;
        }
        li:nth-child(2) .b_r_body_img {
          background-position: -210px 0;
        }
        li:nth-child(3) .b_r_body_img {
          background-position: -258px 0;
        }
        .body_right_txt {
          overflow: hidden;
          padding-bottom: 18px;
          border-bottom: 1px solid #cccccc;
          //color: red;
          //border-right: 2px solid red;
          .recommend {
            font-size: 12px;
            border-left: 2px solid red;
            padding-left: 3px;
            display: block;
          }
        }
        .body_right_txt ol {
          overflow: hidden;
          li {
            display: inline;
            margin: 7px 12px 7px 0px;
            font-size: 12px;
            color: #888888;
            float: left;
          }
        }
        .body_right_logo {
          padding-top: 9px;
          ol {
            display: flex;
            li {
              flex-grow: 1;
              text-align: center;
              div {
                width: 41px;
                height: 41px;
                margin: 0 auto;
                background: url("img/logo.png") no-repeat;
              }
              p {
                color: #888888;
                font-size: 12px;
                line-height: 1.5;
              }
            }
            li:nth-child(1) div {
              background-position: 0 -1030px;
            }
            li:nth-child(2) div {
              background-position: -49px -1030px;
            }
            li:nth-child(3) div {
              background-position: -95px -1030px;
            }
            li:nth-child(4) div {
              background-position: -144px -1030px;
            }
          }
        }
      }
      .li_img {
        li {
          padding-left: 20px;
          background: url("img/li_img.png") no-repeat 0 4px;
          line-height: 1.5;

        }
        //list-style-image: url("img/li_img.png")  ;
      }
      .ul_type {
        padding-left: 33px;
        li {
          list-style: disc;
          list-style-position: outside;
          color: #cccccc;
          a {
            font-size: 14px;
            color: #404040;
          }

        }
      }

      .body_img {
        display: flex;
        padding: 15px;
        div {
          width: 132px;
          margin-right: 4px;
          img {
            width: 132px;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
    .advertisement1 {
      width: 300px;
      height: 250px;
      background: #cccccc;
      margin-bottom: 10px;
    }
    .advertisement2 {
      width: 300px;
      height: 100px;
      background: #cccccc;
      margin-bottom: 20px;
    }

  }

}

footer {
  .footer {
    background: #f6f6f6;
    padding-top: 30px;
    border-top: 1px solid #cccccc;
    .footer_header {
      padding-bottom: 20px;
      border-bottom: 1px solid #cccccc;
      .footer_row {
        width: 960px;
        height: 150px;
        //margin-bottom: 12px;
        overflow: hidden;
        margin: 0 auto 9px;
        div {
          float: left;
          width: 130px;
          margin-right: 9px;
          height: 124px;
          background: #e8e8e8;
          font-size: 11px;
          padding: 13px 11px;
          p {
            font-weight: bolder;
          }
          span {
            display: inline-block;
            width: 60px;
            line-height: 2;
          }
        }
        div:not(#footer_logo):hover {
          background: #666666;
          color: white;
        }
        div:last-child {
          margin-right: 0px;
        }
        #footer_logo {
          background: transparent;
          a {
            display: block;
            width: 125px;
            height: 100px;
            background: url("img/logo.png") no-repeat 0 -486px;
          }

        }
      }
      #map {
        font-size: 12px;
        margin: 0 auto;
        width: 960px;
        text-align: right;
        line-height: 2;

      }

    }
    .footer_body {
      width: 960px;
      margin: 0 auto;
      padding-top: 50px;
      padding-bottom: 44px;
      ul {
        overflow: hidden;
        li {
          margin-right: 60px;
          float: left;
          display: inline-block;
          font-size: 11px;
          line-height: 2.5;
          p:hover {
            color: red;
          }
        }
      }
    }
  }
  .footer1 {
    background: #333333;
    ul {
      background: #333333;
      display: flex;
      width: 960px;
      height: 40px;
      margin: 0 auto;
      li {
        color: white;
        font-size: 12px;
        text-align: center;
        line-height: 40px;
        a {
          color: white;
          border-right: 1px solid #cccccc;
          padding: 0 7px 0 12px;
        }
      }
      li:last-child a {
        border: 0px;
      }
    }
  }
}






























