* {
  margin: 0;
  padding: 0; }

a, button, input {
  outline: none; }

html, body {
  width: 100%;
  height: 100%; }

header {
  position: relative;
  left: 0;
  top: 0;
  height: 1.44rem;
  background: #27b8fb;
  width: 100%;
  text-align: center; }
  header span {
    margin-top: .28rem;
    display: inline-block;
    width: 0.88rem;
    height: 0.88rem; }
    header span img {
      display: block;
      width: 0.88rem; }
  header span:first-child {
    float: left;
    margin-left: 0.44rem; }
  header span:last-child {
    margin-right: 0.54rem;
    float: right; }
  header p {
    display: inline-block;
    color: white;
    font-size: 0.64rem;
    text-align: center; }

section {
  padding-top: 2rem; }
  section .input-box {
    margin: 0 auto;
    width: 8.44rem;
    height: 1.3rem;
    border-bottom: 1px solid #26b8fb;
    padding: 0.2rem 0; }
  section .number span {
    display: inline-block;
    height: 1.3rem;
    padding: 0 0.08rem;
    border-right: 1px solid #26b8fb;
    font-size: 0.38rem;
    float: left;
    line-height: 1.3rem;
    color: #26b8fb;
    font-weight: bold; }
  section .number input[type="text"] {
    height: 1.3rem;
    display: inline-block;
    float: right;
    width: 6.6rem;
    border: none;
    font-size: 0.7rem;
    outline: none; }
  section .password {
    padding: 0.2rem 0; }
    section .password input {
      border: none;
      outline: none;
      padding-left: .4rem;
      height: 1.3rem;
      font-size: 0.7rem; }
  section .login {
    border: 0px;
    padding-top: 0.88rem;
    margin-bottom: 0.94rem; }
    section .login input {
      width: 100%;
      height: 100%;
      background: url("../img/login_05.png") no-repeat center;
      background-size: 100%;
      border: 0px; }
  section .forget {
    text-align: center;
    display: block;
    font-size: 0.48rem;
    color: #26b8fb;
    margin: 0 auto;
    width: 2.5rem;
    line-height: 1.5;
    border-bottom: 1px solid #26b8fb;
    margin-bottom: 3.06rem; }
  section .friend {
    text-align: center;
    font-size: 0.48rem;
    color: #26b8fb;
    margin-bottom: 0.9rem; }
  section .friend-img {
    text-align: center;
    margin-bottom: 1.7rem; }
    section .friend-img div {
      width: 1.04rem;
      height: 1.04rem;
      display: inline-block;
      margin-right: 1.4rem; }
      section .friend-img div img {
        width: 100%; }
    section .friend-img div:last-child {
      margin-right: 0; }
  section .register {
    border: 0px;
    padding-top: 0.88rem;
    margin-bottom: 0.94rem; }
    section .register input {
      width: 100%;
      height: 100%;
      color: #26b8fb;
      background: transparent;
      font-size: 0.54rem;
      border: 1px solid #26b8fb; }
