<!--
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="stylesheet" href="../Login&#45;&#45;Register/css/Login&#45;&#45;Register.css">
    <script src="../js/fontSize.js"></script>
    <style>

    </style>
</head>
<body ng-controller="myCtrl">
-->

<link rel="stylesheet" href="../Login&#45;&#45;Register/css/Login&#45;&#45;Register.css">
<script src="../js/fontSize.js"></script>
<div class="hezi" >
    <div class="box-img">
        <img src="../Login--Register/img/dlzc_01.png" alt="">
    </div>
    <div class="box-btn">
        <a href=""  ui-sref="loginregister.login" ng-click="hide()"><input type="button" value="登陆" ></a>
        <a href="" ui-sref="loginregister.register"  ng-click="hide()"><input type="button" value="注册" ></a>

        <p>万千世界 版权所有@2016</p>
    </div>
</div>

<ui-view></ui-view>

<script src="../js/jquery-3.1.1.js"></script>
<script>
    $(".box-btn input").click(function () {
        $(".hezi").hide();
        console.log($(".hezi").length)
    })
</script>
<!--<script src="../js/jquery-3.1.1.js"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/angular-ui-router.js"></script>
<script>

    var app = angular.module("app", ["ui.router"])

    app.controller("myCtrl", function ($scope) {
        $scope.class = function ($index) {
//            $("footer div").removeClass("footer-actiove");
//            $(this).addClass("footer-actiove")
//                $("footer div").toggleClass("footer-actiove")
//            console.log($index)
        }
    })

    app.config(["$stateProvider", "$urlRouterProvider", function ($stateProvider, $urlRouterProvider) {
        $stateProvider
                .state("login", {
                    url: "/login",
                    templateUrl: "login.html"
                })
                .state("register", {
                    url: "/register",
                    templateUrl: "register.html"
                })

    }])

    $(".box-btn input").click(function () {
        $(".hezi").hide();
    })
</script>-->
</body>
</html>


<!--
<div ui-view>
    <link rel="stylesheet" href="../Login&#45;&#45;Register/css/Login&#45;&#45;Register.css">
    <script src="../js/fontSize.js"></script>
    <div class="box-img">
        <img src="../Login--Register/img/dlzc_01.png" alt="">
    </div>
    <div class="box-btn">
        <a href="#" ui-sref="loginregister.login"><input type="button" value="登陆" ></a>
        <input type="button" value="注册" ui-sref="loginregister.register">
        <p>万千世界 版权所有@2016</p>
    </div>
</div>


-->